@import '../../../assets/variables.scss';

.spotifyPlaylistsItem__container {
  display: grid;
  grid-template-areas: "title" "list";
  width: 100%;
  
  
  @media (min-width: $xl) {
    gap: 0 10rem;
    grid-template-areas: "title list";
    height: calc(100% - var(--height-header));
    margin-top: var(--height-header);
  }
}

.spotifyPlaylistsItem__title {
  @media (min-width: $xl) {
    align-self: center;
    grid-area: title;
    margin-top: 0;
    text-align: right;
  }
}

.spotifyPlaylistsItem__list {
  @media (min-width: $xl) {
    align-self: end;
    grid-area: list;
  }
}