@import '../../assets/variables.scss'; 

.landing__main-container {
  display: grid;
  gap: 0 2rem;
  grid-template-areas: 
    'animation'
    'title'
    'description'
    'steps'
    ;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0 2rem;
  padding-top: var(--height-header);
  
  @media (min-width: $l) {
    grid-template-areas: 
      'title animation'
      'description animation'
      'steps animation'
      ;
    grid-template-columns: 1fr 40%;
    justify-items: flex-start;
    margin: 0 4rem;
  }

  @media (min-width: $xl) {
    grid-template-columns: 1fr 1fr;
    margin: 0 10rem;
  }
}


/*
 * Left side
 */

.landing__started-button {
  align-self: center;
  margin: 2rem 0 5rem;
  
  @media (min-width: $l) {
    align-self: flex-start;
  }
}

.landing__title-container {
  grid-area: title;
  margin-top: 2rem;
  text-align: center;
  
  @media (min-width: $l) {
    margin-top: 10rem;
    text-align: start;
  }

  // @media (min-width: $xxl) {
  //   margin-top: 10rem;
  // }
}

.landing__description-container {
  display: flex;
  flex-direction: column;
  grid-area: description;
  text-align: center;

  h2 {
    margin: 2rem 0 1rem;
  }

  p {
    max-width: 100%;
  }

  @media (min-width: $l) {
    text-align: start;

    p {
      max-width: 90%;
    }
  }
}

.landing__steps-container {
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  grid-area: steps;
  margin-bottom: 3rem;
  max-width: 100%;
  padding: 1rem 1.5rem;
  
  @media (min-width: $l) {
    max-width: 600px;
  }

  h3 {
    margin-bottom: .8rem;
  }

  ol {
    margin-inline-start: 2rem;
  }

  li {
    margin: .5rem 0;
  }
}



/*
 * Right side
 */

.landing__demonstration {
  grid-area: animation;
  // align-self: center;
  margin-top: 2rem;
  
  @media (min-width: $l) {
    margin-top: 8rem;
  }
}

// GIF Animation
.landing__gif {
  align-self: center;
  max-width: 400px;
  min-width: 200px;
  width: 100%;

  @media (min-width: $l) {
    max-width: 600px;
  }
}
