@import '../../../assets/variables.scss';

.deezerPlaylistsTracksItem__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  @media (min-width: $xl) {
    flex-direction: row;
    gap: 8rem;
    height: calc(100% - var(--height-header));
    justify-content: center;
    margin-top: var(--height-header);
  }
}

.deezerPlaylistsTracksItem__title {
  @media (min-width: $xl) {
    margin-top: 0;
  }
}

.deezerPlaylistsTracksItem__list {
  @media (min-width: $xl) {
    align-self: flex-end;
  }
}

.deezerPlaylistsTracksItem__select-container {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  left: 50%;
  margin-top: 1rem;
  padding: 1rem;

  position: absolute;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 3;

  button {
    background-color: black;
    border: var(--color-primary) 1px solid;
    box-shadow: #d1007145 0px 20px 75px 15px;
    color: white;
    cursor: pointer;
    opacity: 1;
    pointer-events: all;
    transform: translateY(-50%);
    transition: all ease-in-out .15s;
    
    &:disabled {
      border: #ffffff00 1px solid;
      box-shadow: #d1007000 0px 20px 75px 15px;
      color: rgba(255, 255, 255, 0);
      opacity: 0;
      pointer-events: none;
      transform: translateY(200%);
    }
  }

  @media (min-width: $xl) {
    align-self: flex-start;
    justify-self: flex-end;
    margin-right: 4rem;
    position: relative;

    button {
      box-shadow: none;
      transform: translateY(0%);
    }
  }
}

.deezerPlaylistsTracksItem__playlist-item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  padding-bottom: 2rem;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  } 
}

.deezerPlaylistsTracksItem__playlist-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.deezerPlaylistsTracksItem__playlist-item {
  align-content: flex-start;
  background: transparent;
  cursor: pointer;
  display: grid;
  font-size: 1rem;
  gap: .4rem 1rem;
  grid-template: 
    'image title check' 
    'image info check' 1rem
    'image author check' 
  / min-content 1fr auto;
  justify-items: flex-start;

  input {
    display: none;
  }

  > * {
    pointer-events: none;
  }

  @media (min-width: $l) {
    gap: .4rem 1.5rem;
    
  }

  &-image {
    border-radius: 5px;
    grid-area: image;
    width: 4.5rem;
    
    @media (min-width: $xs) {
      width: 6rem;
      
    }
  }

  &-title {
    align-self: flex-end;
    font-size: 1rem;
    font-weight: 500;
    grid-area: title;
    text-align: left;
    
    @media (min-width: $xs) {
      font-size: 1.2rem;
      
    }
  }

  &-info {
    grid-area: info;
    text-align: left;
  }

  &-author {
    font-size: .8rem;
    font-style: italic;
    grid-area: author;
    margin-top: .25rem;
    text-align: left;
  }

  &-check {
    align-self: center;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 100px;
    grid-area: check;
    padding: .3rem;
    position: relative;
    stroke: transparent;
    transition: all var(--animation-primary);

    &::before {
      border: 1px solid var(--color-green);
      content: '';
      display: fl;
      height: 1.5rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5rem;
    }

    &.-checked {

      border-color: var(--color-green);
      position: relative;
      stroke: var(--color-green);
    }
  }
}
