@import '../../../assets/variables.scss';

.deezerTracksResultItem {
  align-self: center;
  display: grid;
  gap: 1rem;
  grid-auto-rows: max-content;
  grid-template-areas: 
    'title'
    'description'
    'button'
    'not-found';
  justify-items: center;
  max-width: 850px;
  padding: 0 1rem;
  text-align: center;
  width: 90dvw;

  > *:not(.deezerTracksResultItem__not-found) {
    height: fit-content;
  }
  
  &__title {
    grid-area: title;

    @media (min-width: $xl) {
      margin-top: 0;
    }
  }

  &__description {
    grid-area: description;
  }

  &__button {
    grid-area: button;
  }

  @media (min-width: $xl) {
    grid-template-areas: 
    'title        not-found'
    'description  not-found'
    'button       not-found';

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    height: 100dvh;

    margin-top: var(--height-header);
    max-width: none;
  }
}

.deezerTracksResultItem__not-found {
  align-self: flex-end;
  grid-area: not-found;
}


/*
 * Loading Item 
 */
.deezerTracksResultItem__loading-playlist {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}



.deezerTracksResultItem__playlist-title {
  font-weight: 500;
  margin: 0 .3rem;
}