@import '../../assets/variables.scss';

.header__container {
  align-items: center;
  background: var(--color-background-primary);
  display: grid;
  grid-template-columns: 1fr max-content;
  height: var(--height-header);
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__title {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  width: fit-content;
  
  @media (min-width: $l) {
    font-size: 1.2rem;
  }
}

.header__dropdown {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

  @media (min-width: $l) {
    justify-content: flex-end;
  }

  &-menu {
    position: absolute;
    right: 0;
    top: 100%;
  }
}

.header__dropdown-toggle {
  align-items: center;
  background-color: black;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.header__dropdown-item {
  align-items: center;
  background-color: black;
  border: 1px solid var(--color-primary);
  color: var(--color-text);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1rem;
  
  &:hover {
    background-color: var(--color-primary);
  }
}
