@import '../../assets/variables.scss';

.header__container {
  align-items: center;
  background: var(--color-background-primary);
  display: grid;
  grid-template-columns: 1fr max-content;
  height: var(--height-header);
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  
  @media (min-width: $xl) {
    padding: 0 4rem;
  }
}

.header__logo {
  align-items: center;
  display: flex;
  gap: .5rem;
  justify-content: center;
  text-decoration: none;
  width: fit-content;
  
  &-image {
    max-width: 2rem;
  }
  
  &-title {
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 600;
  }
  
  @media (min-width: $l) {
    &-title {
      font-size: 1.2rem;
    }
  }
}

.header__dropdown {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

  @media (min-width: $l) {
    justify-content: flex-end;
  }

  &-menu {
    position: absolute;
    right: 0;
    top: 100%;
  }
}

.header__dropdown-menu {
  align-items: center;
  animation: dropdown-enter var(--animation-primary);
  background-color: black;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 6px 6px 12px #d1007145;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 5;
  
  
  @media (min-width: $l) {
    border-color: var(--color-primary);
    height: auto;
    left: unset;
    margin-top: .5rem;
    position: absolute;
    right: 0;
    top: calc(100% + .5rem);
    width: max-content;
  }
}

@keyframes dropdown-enter {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}

.header__dropdown-item {
  align-items: center;
  color: var(--color-text);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-decoration: none;
  width: max-content;
  
  &:hover {
    background-color: var(--color-primary);
  }
}

.header__classic-menu {
  align-items: center;
  cursor: pointer;
  display: none;
  font-weight: 500;
  justify-content: space-between;
  width: 100%;
  
  @media (min-width: $l) {
    display: flex;
  }
  
}

.header__burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  width: 30px;
  z-index: 10;

  @media (min-width: $l) {
    display: none;
  }

  div {
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    height: 4px;
    transition: all 0.3s ease;
    width: 100%;
  }

  &.open {
    div:nth-child(1) {
      transform: rotate(45deg) translate(5px, 7px);
    }

    div:nth-child(2) {
      opacity: 0;
    }

    div:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -6px);
    }
  }
}