@import '../../assets/variables.scss';

.header__container {
  align-items: center;
  background: var(--color-background-primary);
  display: grid;
  grid-template-columns: 1fr;
  height: var(--height-header);
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__title {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  
  @media (min-width: $l) {
    font-size: 1.2rem;
  }
}