@import '../../assets/variables.scss';

.animation__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.animation__logo {
  max-width: 400px;
  min-width: 200px;
  width: 100%;
  
  @media (min-width: $l) {
    max-width: 600px;
  }
}
