:root {
  // General
  --animation-primary: .25s ease-in-out;
  
  // Height
  --height-header: 5rem;
  
  // Color
  --color-primary: #D10071;
  --color-primary-darker: color-mix(in srgb,var(--color-primary),#000 60%);
  --color-secondary: #0490BD;

  --color-green: #00D12E;
  --color-red: #5a0606;

  --color-text: #ffffff;
  
  --color-background-primary: #000000;
  --color-background-secondary: #0F0C13;

  --color-box-shadow-playlist-deezer: #64397E;
  --color-box-shadow-playlist-spotify: #00d85657;

  --color-spotify: #00D856;
  --color-deezer: #a238ff;
}

// Screen
$xxs: 380px; /* Extra, extra small screens */
$xs: 500px; /* Extra small screens */
$m: 768px; /* Medium screens (typically tablets) */
$l: 992px; /* Large screens (desktop) */
$xl: 1400px; /* Extra large screens */
$xxl: 1600px; /* Extra, extra large screens */